<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">Node.js Stripe</h1>
            <p class="lead">Payment with strip is fun.</p>
            <form action="/charge" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{stripePublishablekey}}"
                    data-amount="5000"
                    data-name="Chelsea Shirt"
                    data-description="Chelsea 2017/2018 Kit"
                    data-image="/img/marketplace.png"
                    data-locale="auto">
                </script>
                <script>
                    // Hide button
                    document.getElementsByClassName('stripe-button-el')[0].style.display ='none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase For 50$</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/img/chelsea.jpg" alt="Buy chelsea shirt" class="img-fluid">
        </div>
    </div>
</section>