<section class="py-5">
    <h1 class="display-3">
        Thank you
    </h1>
    <p class="lead">
        Your shirt will be shipped to you in 3-5 business days
    </p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>